
* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100px;
  background: #fdfdfd;
  font-weight: 700;
  letter-spacing: .03em;
  color: #212121;
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #ffffff;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow: 2px 2px 2px #8888;
}
#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;

}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(14, 13, 13);
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #f8f8f8;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}
#nav-container:focus-within #nav-content {
  transform: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}
a {
  color: currentColor;
  transition: .2s ease-in-out;
}
h1, h2, h3, h4 {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
.bag{
    position: absolute;
    top:20px;
    right: 40px;
    border: 0px solid black;
}
.logo-g{
    background-color: white;
    color: black;
    border: 3px solid black;
    font-size: 20px;
    font-weight: 900;
    width: 32px;
    text-align: center;
}
.logo-k{
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    border: 3px solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
    width: 30px;
    text-align: center;
}
.menucontainer{
  width: 78%;
  min-height: 65px;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.size{
  width: 33.33%;
  border: 0px solid black;
  margin: 5px;
}
.found{
  width: 33.33%;
  border: 0px solid black;
  text-align: center;
  margin-top: 10px;
  margin: 5px;
}
.sortby{
  width: 33.33%;
  border: 0px solid black;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.sizebutton{
  margin: 2px;
  width: 30px;
  height: 35px;
  color: black;
  background-color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}
.sizebutton:hover{
   background-color: black;
   color: white;
}
.custom-select {
  font-family: Arial;
  position: relative;
}
.orderselect{
  padding: 5px;
  width: 180px;
  height: 40px;
  border: 2px solid grey;
}
.productcontainer{
  width: 90%;
  border: 0px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.product{
  border: 0px solid black;
  width: 20%;
  min-height: 370px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgb(206, 199, 199);
}
.productsimg{
  width: 100%;
  height: 70%;
}
.productsbutton{
  min-height: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  font-size: 18px;
  margin-bottom: 15px;
}
.productsbutton:hover{
  background-color: rgb(31, 29, 29);
  color: white;
  cursor: pointer;
}
.detailbutton:hover{
  background-color: rgb(31, 29, 29);
  color: white;
  cursor: pointer;
}
.name-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width: 1500px){
  .product{
    border: 0px solid black;
    width: 30%;
    min-height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(206, 199, 199);
    font-size: 15px;
  }
  .name-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1200px){
  .product{
    border: 0px solid black;
    width: 40%;
    min-height: 400px;
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(206, 199, 199);
  }
  .menucontainer{
    width: 95%;
    min-height: 100px;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .size{
    width: 100%;
    border: 0px solid black;
    margin: 5px;
  }
  .found{
    width:  100%;
    border: 0px solid black;
    text-align: center;
    margin-top: 10px;
    margin: 5px;
  }
  .sortby{
    width:  100%;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    display: flex;
    margin: 10px;
  }
}
@media only screen and (max-width: 800px){
  .product{
    border: 0px solid black;
    width: 80%;
    min-height: 400px;
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(206, 199, 199);
  }
}
.shipping{
  position: relative;
  background-color: rgb(63, 61, 61);
  color: white;
  width: 100px;
  text-align: center;
}
.about{
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
.about h3{
  font-size: 25px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about p{
  letter-spacing: 1px;
  margin-top: 25px;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contactcontainer{
  border: 0px solid black;
  display: flex;
  padding: 40px;
  min-height: 400px;
  width: 90%;
  margin: 0 auto;
}
.contactcontainer input{
  margin-top: 25px;
  width:350px;
  height: 35px;
  padding: 5px;
  border: 1px solid black;
  color: black;
  border-radius: 1px;
  box-shadow: 0 0 1px rgb(206, 199, 199);
}

.contactcontainer h2{
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.contactcontainer textarea{
  margin-top: 20px;
  width: 350px;
  height: 100px;
  border:1px solid rgb(0, 0, 0);
  box-shadow: 0 0 2px rgb(116, 110, 110);
  resize: none;
  padding: 5px;
}
.price{
  font-weight: bold;
  font-family: serif;
}
.detailscontainer{
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.detailscontainer img{
  width: 100%;
  height: 100%;
}
.detailimg{
  width: 35%;
  border: 0px solid black;
}
.detailsmenu{
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
}
.proddescription{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 0px solid black;
  width: 100%;
  height: 45%;
}
.detailprice{
  font-size: 22px;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.detailname{
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.detailbutton{
  height: 55px;
  width:300px;
  background-color: white;
  border: 0px solid black;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 2px;
}
.buttoncontainer{
  width: 100%;
  display: flex;
  border: 0px solid black;
  height: 55%;
  justify-content: flex-start;
  align-items: flex-end;
  
}
.removebutt{
  width: 130px;
  border: 2px solid rgb(219, 4, 4);
  color:rgb(219, 4, 4);
  height: 40px;
  cursor: pointer;
  background-color: white;
}
.shoppingcard{
  border: 0px solid black;
  max-width:700px;
  min-height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgb(206, 199, 199);
  margin: 15px;
}

.pressed{
  background-color: black;
  color: white;
  margin: 1px;
  width: 30px;
  height: 35px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.unpressed {
  background-color: white;
  margin: 1px;
  width: 30px;
  height: 35px;
  color: black;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
.cartcontainer{
  border: 0px solid black;
  display: flex;
  width: 90%;
  margin: 0 auto;
  min-height: 500px;
  flex-wrap: wrap;
  
}

.shoppingcard img{
  width: 25%;
  height: 100%;
}

.cartinfo{
  display: flex;
  flex-direction: column;
  width: 34%;
  flex-wrap: wrap;
}
.cartbuttcontainer{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.cartbuttons{
 border: 0px solid black;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 140px;
 margin-top: 10px;
 flex-wrap: wrap;
}
.plusprod{
  background-color: white;
  border:none;
  cursor: pointer;
  font-weight: 500;;
  font-size: 30px;
  margin-top: 6px;
  margin-right: 5px;
}
.minusprod{
  background-color: white;
  border:none;
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  margin-top: 2px;
  margin-left: 6px;
}
.quantity{
  font-size: 30px;
}
.carth{
  margin-left: 50px;
}
.cartempty{
  text-align: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carticon{
  position: fixed;
  font-size: 30px;
  margin-right: 50px;
}
.cartlength{
  position: absolute;
  right: -33px;
  top: -5px;
  font-size: 13px;
  color:white;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}
.totalprice{
  width: 100%;
  font-size: 25px;
}
.totalprice hr{
  color:black;
  width: 220px;
}

@media only screen and (max-width: 600px){
  .product{
    border: 0px solid black;
    width: 95%;
    min-height: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(206, 199, 199);
  }
  .contactcontainer{
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 90%;
    margin: 0 auto;
  }
  .contactcontainer input{
    margin-top: 25px;
    max-width:350px;
    height: 35px;
    padding: 5px;
    border: 1px solid black;
    color: black;
    border-radius: 1px;
    box-shadow: 0 0 1px rgb(206, 199, 199);
  }
  
  .contactcontainer textarea{
    margin-top: 20px;
    max-width: 350px;
    height: 100px;
    border: 0px solid rgb(0, 0, 0);
    box-shadow: 0 0 2px rgb(116, 110, 110);
    resize: none;
    padding: 5px;
  }
  .detailscontainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
  }
  .detailscontainer img{
    border: 0px solid black;
    width:250px;
    height: 150px;
  }
  .cartinfo{
    font-size: 15px;
  }
  .cartprodname{
    font-size: 15px;
  }
  .removebutt{
    width:70px;
    border: 2px solid rgb(219, 4, 4);
    color:rgb(219, 4, 4);
    height: 40px;
    cursor: pointer;
    background-color: white;
    margin-right: 30px;
  }
  
}
input[type=submit] { 
  background:#ccc; 
  cursor:pointer;
  border-radius: 2px; 
  background-color: rgb(48, 44, 44);
  color:white;
}


